In [2]:
import numpy as np
import pandas as pd

In [43]:
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])
df

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [39]:
df = df.fillna('voila')

In [44]:
df

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [53]:
df2 = pd.get_dummies(df['first_name'],
                              prefix_sep='#',
                              #drop_first=True
                    )

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Amy      5 non-null uint8
Jake     5 non-null uint8
Jason    5 non-null uint8
Tina     5 non-null uint8
dtypes: uint8(4)
memory usage: 100.0 bytes

In [4]:
X = df.as_matrix()

In [18]:
print(X)

[['Jason' 'Miller' 42.0 'm' 4.0 25.0]
 [nan nan nan nan nan nan]
 ['Tina' 'Ali' 36.0 'f' nan nan]
 ['Jake' 'Milner' 24.0 'm' 2.0 62.0]
 ['Amy' 'Cooze' 73.0 'f' 3.0 70.0]]

In [19]:
X[X=='Tina']='voila'

In [20]:
print(X)

[['Jason' 'Miller' 42.0 'm' 4.0 25.0]
 [nan nan nan nan nan nan]
 ['voila' 'Ali' 36.0 'f' nan nan]
 ['Jake' 'Milner' 24.0 'm' 2.0 62.0]
 ['Amy' 'Cooze' 73.0 'f' 3.0 70.0]]

In [14]:
np.nansum(n)

0.0

In [6]:
print(X)

[['Jason' 'Miller' 42.0 'm' 4.0 25.0]
 [nan nan nan nan nan nan]
 ['Tina' 'Ali' 36.0 'f' nan nan]
 ['Jake' 'Milner' 24.0 'm' 2.0 62.0]
 ['Amy' 'Cooze' 73.0 'f' 3.0 70.0]]

In [63]:
import numpy as np
from sklearn.model_selection import train_test_split
X, y = np.arange(30).reshape((15, 2)), np.zeros(15)
x=range(5)
y[x]=1

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.7, random_state=42)

In [67]:
print(y_train)

[ 0.  0.  0.  1.]

In [70]:
 = pd.DataFrame(np.zeros(5), columns = ['target'])

In [71]:
print(df)

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

In [1]:
range(3,10,2)

range(3, 10, 2)

In [1]:
param_grid = [
        {'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]},
        {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
]

In [2]:
n = [1,2,3]
x = ['a','b','c']

In [3]:
for i,t in n,x : print(i,t)

ValueError: too many values to unpack (expected 2)

In [5]:
print(enumerate(x))

<enumerate object at 0x10700e2d0>

In [6]:
import itertools

In [14]:
for t,i in enumerate(itertools.product([1,2,3],['a','b'],[4,5])):
    print(t+1,':',i[0],i[1],i[2])

1 : 1 a 4
2 : 1 a 5
3 : 1 b 4
4 : 1 b 5
5 : 2 a 4
6 : 2 a 5
7 : 2 b 4
8 : 2 b 5
9 : 3 a 4
10 : 3 a 5
11 : 3 b 4
12 : 3 b 5

In [15]:
min(2,-2)

-2

In [16]:
'x'+'y'

'xy'

In [17]:
from datetime import datetime,timedelta

In [18]:
str(datetime.now())

'2018-01-07 01:37:13.470912'

In [19]:
x = datetime.now()

In [20]:
y = datetime.now()

In [22]:
str(y-x)

'0:00:03.866047'

In [23]:
from datetime import timedelta

time_difference = x - y
time_difference_in_minutes = time_difference / timedelta(minutes=1)

In [24]:
time_difference_in_minutes

-0.06443411666666667